.editReqButton{
    margin: auto;
    margin-top: 10px;
    height: 40px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
    background-color:#d8313f ;
    cursor: pointer; 
    width: 85%;
    position: relative;
    top: 30px;
}

.recieveBloodForm >.nameInput , .recieveBloodForm >.emailInput, .recieveBloodForm >.phoneInput, .recieveBloodForm >.nicInput, .recieveBloodForm >.bloodInput, .recieveBloodForm >.illnessInput, .recieveBloodForm >.weightInput, .recieveBloodForm >.cityInput{
    width: 100%;
    margin-top: 10px;
}

.recieveBloodForm >label >.uploadReports{
    margin-top: 10px;
    border: 2px solid #db1628;
    padding: 5px;
    width: 45%;
    display: flex;
    align-items: center;
    background-color: #db1628;
    color: white;
}

.recieveBloodForm >label >.uploadReports > .MuiSvgIcon-root{
    color: white;
}

.bloodRecieveSibmitBut{
    background-color: #db1628;
    color: #f0f2f5;
    border: none;
    cursor: pointer;
    height: 40px;
    font-size: x-large;
    width: 100%;
    outline: none;
    margin-top: 10px;
}

#uploadReport{
    display: none;
}
.reqHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reqHeader > .MuiSvgIcon-root{
    color: #db1628;
    transform: scale(1.5);
}

.reqHeading{
    font-size: large;
    color: #db1628;
    font-weight: 600;
}