.edit{
    cursor: pointer;
    font-weight: 600;
    color: #b60000;
}

.emailInput{
    width: 100%;
}

.emailSettings{
    font-weight: 600;
    text-align: center;
    font-size: x-large;
    margin-bottom: 15px;
}

.saveEmailChanges{
    width: 100%;
}