.edit{
    cursor: pointer;
    font-weight: 600;
    color: #b60000;
}

.passwordInput{
    width: 100%;
}

.passwordSettings{
    font-weight: 600;
    text-align: center;
    font-size: x-large;
    margin-bottom: 15px;
}

.savePasswordChanges{
    width: 100%;
}